node_modules
config.json
.env
bot-replies/*
!bot-replies/example.js
!bot-replies/example-local.js
events/tests.js
emitters/*
!emitters/example*
attachments/*
!attachments/attachments.md
constants/emotes.js